<!doctype html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='css/main.css'>
    <script src="js/main.js"></script>
  </head>
  <body>
    <div id='container'>
      <h1>This is a static HTML page!</h1>
      <form action='/users' method='POST'>
        Name: <input type='text' name='name'>
        Email: <input type='text' name='email'>
        <input type='submit' value='Create User'>
      </form>
      <a href='/users'>Users</a>
    </div>
  </body>
</html>
