<!doctype html>
<html>
  <head>
    <title>Results</title>
  </head>
  <body>
    <div id='container'>
      <%= data.name %>
      <%= data.location %>
      <%= data.language %>
      <%= data.comment %>
    </div>
  </body>
</html>

