<form name="userForm" ng-submit="addUser()">
  <h3>Please register your user</h3>
  First Name: <input type="text" name="firstName" ng-model="user.name.first" ng-minlength="2" required>
  Last Name: <input type="text" name="lastName" ng-model="user.name.last" ng-minlength="2" required>
  Email: <input type="text" name="email" ng-model="user.email" ng-minlength="5" required>
  <input type="submit" value="Add User">
</form>
<a href="#!/users">Return to Users Home</a>
<div ng-messages="userForm.firstName.$error">
  <p ng-message="minlength">The first name is too short</p>
  <p ng-message="required">The first name is required</p>
</div>
<div ng-messages="userForm.lastName.$error">
  <p ng-message="minlength">The last name is too short</p>
  <p ng-message="required">The last name is required</p>
</div>
<div ng-messages="userForm.email.$error">
  <p ng-message="minlength">The email address is too short</p>
  <p ng-message="required">The email address is required</p>
</div>
