<form name="customerForm" ng-submit="addCustomer()">
  <h3>Please register your customer</h3>
  First Name: <input type="text" name="firstName" ng-model="customer.name.first" ng-minlength="2" required>
  Last Name: <input type="text" name="lastName" ng-model="customer.name.last" ng-minlength="2" required>
  Email: <input type="text" name="email" ng-model="customer.email" ng-minlength="5" required>
  <input type="submit" value="Add Customer">
</form>
<a href="#!/customers">Return to Customers Home</a>
<div ng-messages="customerForm.firstName.$error">
  <p ng-message="minlength">The first name is too short</p>
  <p ng-message="required">The first name is required</p>
</div>
<div ng-messages="customerForm.lastName.$error">
  <p ng-message="minlength">The last name is too short</p>
  <p ng-message="required">The last name is required</p>
</div>
<div ng-messages="customerForm.email.$error">
  <p ng-message="minlength">The email address is too short</p>
  <p ng-message="required">The email address is required</p>
</div>
