<!doctype html>
<html ng-app='app'>
  <head>
    <title>Title!</title>
    <meta charset='utf-8'>
    <script src='./bower_components/angular/angular.js'></script>
    <script>
    var app = angular.module('app', []);
    app.controller('UsersController', function($scope){
      $scope.arr = [
      { firstName: 'Richard',
        lastName: 'Morley',
        favoriteLanguage: 'Python',
      }
      ];
      $scope.newUser = {};
      $scope.addUser = function(){
        $scope.arr.push($scope.newUser);
        console.log($scope.arr);
        $scope.newUser = {};
      };
      $scope.deleteUser = function(user){
        $scope.arr[user] = undefined;
        console.log($scope.arr);
      }
    });
    </script>
  </head>
  <body>
    <div ng-controller='UsersController'>
      <input type='text' placeholder='filter' ng-model='filterText'>
      <table>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Favorite Language</th>
          <th></th>
        </tr>
        <tr ng-repeat='item in arr track by $index'>
          <td>{{ item.firstName }}</td>
          <td>{{ item.lastName }}</td>
          <td>{{ item.favoriteLanguage }}</td>
          <td>
            <form ng-submit='deleteUser($index)'>
              <input type='submit' value='delete user'>
            </form>
          </td>
        </tr>
      </table>
      <form ng-submit='addUser()'>
        <input type='text' placeholder='First Name' ng-model='newUser.firstName'>
        <input type='text' placeholder='Last Name' ng-model='newUser.lastName'>
        <input type='text' placeholder='Favorite Language' ng-model='newUser.favoriteLanguage'>
        <input type='submit' value='add user'>
      </form>
    </div>
    <h1>Hello</h1>
  </body>
</html>
